<!DOCTYPE html>

<html lang="en">
{% extends 'banner-cart.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/login-styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/users-styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common_files/css/shared-styles.css' %}">


    <title>Registration Page</title>


</head>
{% endblock %}
{% block content %}
<body>
<main>
  <div class="login-container h-100 d-flex justify-content-center align-items-center">
      <div class="card" id="login-card">
        <div class="card-header">
          <h3>Register</h3>
        </div>
        <div class="card-body">
          <form method="post" action="#login-card">
            {% csrf_token %}
            <div class="form-group">
              <label for="emailInput">Username</label>
              <input type="text" name="username" class="form-control login-inputs" id="emailInput" aria-describedby="emailHelp" >
            </div>
            <div class="form-group">
              <label for="passwordInput">Password</label>
              <input type="password" class="form-control login-inputs" id="passwordInput" name="password">
            </div>
            {% if error_msg %}
              <p id="error-msg">{{error_msg}}</p>
            {% endif %}
            {% if success_msg %}
              <p id="success-msg">{{success_msg}}</p>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-block submit-btn">Create Account</button>
            <hr class="btn-sep">
            <a href="#" class="btn btn-danger btn-block">Sign up with google<img id="google-logo" src="{% static 'users/images/icons/google.svg'%}"></a>
            <hr>
            <a href="/login#login-card" class="btn btn-danger btn-block">Already have an account ? Login here</a>

          </form>
        </div>
      </div>
    </div>

</main>
</body>
{% endblock %}
</html>