<!DOCTYPE html>
{% extends 'banner-cart.html' %} <!-- banner-cart.html from common_files app -->

{% load static %}

{% block head %}
  <head>

    <meta charset="utf-8">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content="Luxery cars" />
    <meta name="description" content="Luxery Cars" />
    <meta name="author" content="Jack Ciafardo" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
    <!-- homepage styling <!-->
    <link rel="stylesheet" type="text/css" href="../static/store_front/css/home-search_results.css"/>




    <title>Home Page</title>
  </head>
{% endblock %}

{% block content %}
<body>






<!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="box">
        <div class="detail-box">
          <h2>
            Top Seller
          </h2>
          <h3>
          {{ordered_products.0.name}}
          </h3>

          <p>
            product description
          </p>
        </div>
        <div class="img-box">
          <img src="{% static 'store_front/images/products/' %}{{ordered_products.0.picture}}" alt="">
        </div>
        <div class="btn-box">
          <a href="/view/{{ordered_products.0.name}}">
            Buy Now

          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end shop section -->

  <!-- about section -->

  <section class="about_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="{% static 'store_front/images/header-pics/ferrari.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container">
              <hr>
              <h2 id="about">
                About Our Luxuery Auto Shop
              </h2>
            </div>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- car section -->

  <section class="fruit_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          Top Selling Luxery Cars

        </h2>
      </div>
    </div>
    <div class="container-fluid">

      <div class="fruit_container" id="cart">
        {% for product in ordered_products %}
            <div class="box">
              <img src="{% static 'store_front/images/products/' %}{{product.picture}}" alt="">
              <div class="link_box">
                <h5>
                  {{product.name}}

                </h5>
                <h5>
                  ${{product.price}}
                </h5>
                <a class="buy-link" href="/view/{{product.name}}">
                  Buy Now
                </a>
                <form method="post">
                  {% csrf_token %}
                  <button type="submit" value="{{product.id}}" name="add-cart-item-id" class="add-cart-btn">Add to cart</button>
                </form>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </section>

  <!-- end car section -->


  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container ">
      <div class="heading_container" id="testimonial">
        <h2>
          What Customers Are Saying
        </h2>
        <hr>
      </div>
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container layout_padding-top">
              <div class="img-box">
                <img src="{% static 'store_front/images/clients/team-2.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Joanna Ferman
                </h5>
                <p>
                  <img src="{% static 'store_front/images/icons/left-quote.png' %}" alt="">
                  <span>
                    Lorem ipsum dolor sit amet,
                  </span>
                  <img src="{% static 'store_front/images/icons/right-quote.png' %}" alt=""> <br>
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam, quis nostrud exercitation ullamco laboris ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding-top">
              <div class="img-box">
                <img src="{% static 'store_front/images/clients/client-img.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Jone Mark
                </h5>
                <p>
                  <img src="{% static 'store_front/images/icons/left-quote.png' %}" alt="">
                  <span>
                    Lorem ipsum dolor sit amet,
                  </span>
                  <img src="{% static 'store_front/images/icons/right-quote.png' %}" alt=""> <br>
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam, quis nostrud exercitation ullamco laboris ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding-top">
              <div class="img-box">
                <img src="{% static 'store_front/images/clients/team-1.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Jone Mark
                </h5>
                <p>
                  <img src="{% static 'store_front/images/icons/left-quote.png' %}" alt="">
                  <span>
                    Lorem ipsum dolor sit amet,
                  </span>
                  <img src="{% static 'store_front/images/icons/right-quote.png' %}" alt=""> <br>
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam, quis nostrud exercitation ullamco laboris ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
          <img src="{% static 'store_front/images/icons/prev.png' %}">
          <span class="sr-only">Previous</span>

        </a>
        <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
          <img src="{% static 'store_front/images/icons/next.png' %}">
          <span class="sr-only">Next</span>

        </a>
      </div>

    </div>
  </section>

  <!-- end client section -->


  <!-- contact section -->
  <section class="contact_section layout_padding-bottom" id="contact">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-lg-2 col-md-10 offset-md-1">
          <div class="heading_container">
            <hr>
            <h2>
              Request A call back
            </h2>
          </div>
        </div>
      </div>

      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
            <form action="">
              <div class="contact_form-container">
                <div>
                  <div>
                    <input type="text" placeholder="Full Name" />
                  </div>
                  <div>
                    <input type="email" placeholder="Email" />
                  </div>
                  <div>
                    <input type="text" placeholder="Phone Number" />
                  </div>
                  <div>
                    <input type="text" class="message_input" placeholder="Message" />
                  </div>
                  <div>
                    <button type="submit">
                      Send
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6 px-0">
            <div class="map_container">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->


  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_logo">
        <h2>
          Jumpin Jack's Auto Shop
        </h2>
      </div>
      <div class="info_contact">
        <div class="row">
          <div class="col-md-4">
            <a href="">
              <img src="{% static 'store_front/images/icons/location.png' %}" alt="">
              <span>
                1090 Hollow Spring Middletown, De, 19709
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <img src="{% static 'store_front/images/icons/call.png' %}" alt="">
              <span>
                Call : +012334567890
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <img src="{% static 'store_front/images/icons/mail.png' %}" alt="">
              <span>
                jumpinjacksauto@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <div class="info_form">
            <form action="">
              <input type="text" placeholder="Enter your email">
              <button>
                subscribe
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="info_social">
            <div>
              <a href="">
                <img src="{% static 'store_front/images/icons/facebook-logo-button.png' %}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{% static 'store_front/images/icons/twitter-logo-button.png' %}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{% static 'store_front/images/icons/linkedin.png' %}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{% static 'store_front/images/icons/instagram.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>




</body>


{% endblock %}

